img {
  width: 400px;
  height:400px;
}
* {
  background-color: #eaeaec;
}
h1 {
  text-align: center;
  color: #6c6d71
}
p {
  color: #04b3d5;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}